html {
  overflow: hidden;
  user-select: none;
}

svg {
  width: 100vw;
  height: 100vh;
}

.highlight {
  stroke: yellow;
  stroke-width: 2px;
}

.endState {
  stroke: black;
  stroke-width: 2px;
}

.link {
  stroke: #93ff9c6c;
  stroke-width: 1px;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}
